@{
    ViewData["Title"] = "About";
}


<style>

    h1{
        color :palegoldenrod;
    }

    li{
        
        font-weight: 500;
        font-style :oblique;
        color: black;
    }

</style>

<html>




<body background="https://media.guim.co.uk/51f397f794a73ccd83b0bb79b982b4fff20c32bf/0_277_4666_2800/2000.jpg">
    <h1>About</h1>
</body>
</html>

<p>Use this area to provide additional information.</p>
