@{
    ViewData["Title"] = "About";
}


<style>

    h1 {
        color: lightgoldenrodyellow;
    }

    #paragraph {
        font-weight: 700;
        font-size : 17px;
        font-style: oblique;
        color: black;
        background: rgba(255, 255, 230, 0.4);
    }

    #motto {
        font-weight: 700;
        font-size: 25px;
        text-align : center;
        font-style: italic;
        color: black;
        /*background: rgba(255,255,204, 0.4);*/
    }

</style>

<html>




<body background="https://media.guim.co.uk/51f397f794a73ccd83b0bb79b982b4fff20c32bf/0_277_4666_2800/2000.jpg">
    <h1>About</h1>
</body>
</html>

<p id="paragraph">Molveno Restaurant was founded by the Versnel family in 2002, and is the only restaurant using only local fresh ingredients to deliver excellence in each dish served. It is well-known for its elevated dishes and drinks, which made the restaurant the number one destination to be when in Molveno. </p>
<p id="motto">Our Motto is: Taste how much we care</p>