@{
    ViewData["Title"] = "About";
}


<style>

    h1{
        color :palegoldenrod;
    }

    li{
        
        font-weight: 500;
        font-style :oblique;
        color: black;
    }

</style>

<html>




<body background="https://media.guim.co.uk/51f397f794a73ccd83b0bb79b982b4fff20c32bf/0_277_4666_2800/2000.jpg">
    <h1>About</h1>
</body>
</html>

<li>Molveno Restaurant was founded by the Versnel family in 2002, and is the only restaurant using only local fresh ingredients to deliver excellence in each dish served. It is well-known for its elevated dishes and drinks, which made the restaurant the number one destination to be when in Molveno. </li>
<li>Our Motto is: Taste how much we care.</li>