
@{
    ViewData["Title"] = "ConfirmReservation";
}

<body background ="https://www.vayaadventures.com/wp-content/uploads/Headers3-1920x800.jpg">
    </br></br>
<h2 style="color:white; font-size:40px;">Reservation confirmed</h2>


<p style="color:white; font-size:16px;">Your reservation was received and handled. </br>We are looking forward to seeing you at the Molveno restaurant.</p>

</body>