@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<style>
    h2{
        color: antiquewhite;
    }

</style>


<body background= "https://www.gamberorosso.menu/image/s/1920x724/shrink/storage/gen/reserved-plate-on-a-restaurant-table-jpg.jpeg">

<address>
    Via Bettega 12<br />
    Molveno, 38018, Province of Trento,Italia<br />
    <abbr title="Phone">P:</abbr>
    +31306893123
</address>

<address>
    <strong>Email address:</strong> <a>molveno.lake.resort@gmail.com</a><br />
    
</address>

</body>