@model ASPNET_MVC_MolvenoReservationApplication.ViewModels.GuestViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/sunny/jquery-ui.css" rel="stylesheet" />

@*<script src="~/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="~/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <link href="~/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">*@

@section PageStyles
    {

    <style>

        form {
            width: 450px;
            border: 2px solid lightgray;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            background: rgba(255,255,204, 0.2);
        }
    </style>

}

<body background="https://i.pinimg.com/originals/5a/a2/f4/5aa2f4c287849a6b5d3b8de4424e083d.jpg">

    <h2>Create</h2>

    <h4>Guest</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div>
                    <input type="hidden" name="arrival" value="@Model.arrival" id="arrival">
                    <input type="hidden" name="size" value="@Model.size" id="size">
                </div>

                <div class="form-group">
                    <div id="nameblock">
                        <label asp-for="GuestName" id="namelabel" class="control-label">Name:</label>
                        <input asp-for="GuestName" id="name" class="form-control"  type="text" style="width: 250px; height: 35px;" pattern="^[A-Za-z][A-Za-z ,.'-]{0,23}[A-Za-z]$" maxlength="25" required tabindex="5" title="The name should only consist of letters with a maximum of 25 characters." />
                        <span asp-validation-for="GuestName" class="text-danger"></span>
                    </div>
                </div>
                @* Input Validation: It only accepts numbers; It expects 10 numbers; is required unless email has a value;  *@
                @*|(?:[0]{2}[3][0-9]{10}) = for 0031-612345678 numbers*@
                <div class="form-group">
                    <div id="phoneblock">
                        <label asp-for="GuestPhone" id="phonelabel" class="control-label">Phone number:</label>
                        <input asp-for="GuestPhone" class="form-control" id="phone" type="tel" maxlength="13" style="width: 250px; height: 35px;"  required pattern="(?:[+][0-9]{11})|(?:[0][0-9]{9})|(?:[0-9]{10})" tabindex="6" title="Phone number should consist of + and 11 numbers or 0 and 9 numbers or 10 numbers" />
                        <span asp-validation-for="GuestPhone" class="text-danger"></span>
                    </div>
                </div>

                @* Input Validation: It only accepts numbers; It expects 10 numbers; is required unless phone number has a value;  *@
                <div class="form-group">
                    <div id="emailblock">
                        <label asp-for="GuestEmail" id="emaillabel" class="control-label">Email:</label>
                        <input asp-for="GuestEmail" class="form-control" id="email" type="email" style="width: 250px; height: 35px;" tabindex="7" required />
                        <span asp-validation-for="GuestEmail" class="text-danger"></span>
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div id="hidepricesblock">
                        <label asp-for="Hideprices" id="hidepriceslabel" class="control-label"> Would you like to hide the prices <br /> on the menu card?</label>
                        <input asp-for="Hideprices" class="form-control-static checkbox" type="checkbox" tabindex="8" />
                        <span asp-validation-for="Hideprices" class="text-danger"></span>
                    </div>
                </div>

                @* Input Validation: Maximum number of characters accepted is a 100 *@
                <div class="form-group">
                    <div id="commentsblock">
                        <label asp-for="ResComments" id="commentslabel" class="control-label">Comments:</label>
                        <textarea asp-for="ResComments" style="width:400px; height:150px; resize:none" tabindex="9" maxlength="100"></textarea>
                        <span asp-validation-for="ResComments" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    @*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

    @*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
</body>