
@{
    ViewData["Title"] = "CreateDone";
}


<div class="row">
    <div class="col-md-3">
        <h2>Thank you for your reservation</h2>
        <div>
            <text>
                Your reservation has been saved.
                <br/>
                <br/>
                If you would like to change your reservation or cancel, please contact us by email or phone.
            </text>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>
<div>
    <a asp-controller="Home" asp-action="Index">Back to Homepage</a>
</div>