@model ASPNET_MVC_MolvenoReservationApplication.Models.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReservationID" />
            <div class="form-group">
                <label asp-for="_resPartySize" class="control-label"></label>
                <input asp-for="_resPartySize" class="form-control" />
                <span asp-validation-for="_resPartySize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_resArrivingTime" class="control-label"></label>
                <input asp-for="_resArrivingTime" class="form-control" />
                <span asp-validation-for="_resArrivingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_resLeavingTime" class="control-label"></label>
                <input asp-for="_resLeavingTime" class="form-control" />
                <span asp-validation-for="_resLeavingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="_resHidePrices" /> @Html.DisplayNameFor(model => model._resHidePrices)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="_resComments" class="control-label"></label>
                <input asp-for="_resComments" class="form-control" />
                <span asp-validation-for="_resComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

